<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Questrial" rel="stylesheet">
</head>
<body> 

	<h1>Carnet d'adresse</h1>
	<nav>
		<ul>
			<li>
				<a href="#">Accueil</a>
			</li>
			<li>
				<a href="http://localhost:8081/membres">Membres</a>
			</li>
		</ul>
	</nav>

</body>
</html>