body{
	

background-color: #E8E8E8;

}

h1 {
	
	text-align: center;
	font-family : 'Permanent Marker';
}


.tableau{
	
	border-collapse: collapse;
	background-color: #ffffff;

	td, th{

		border: 1px dotted #000000;
		padding: 15px;
		font-family : 'Questrial';

	}

}

label {
	

	font-weight: bold;
	font-size: 1.5em;

}


.formulaire {
	

	margin: 40px;
	padding: 10px;
	border: 1px dotted #000000;

}	

input {
	
	margin: 10px;

}


input[type=submit] {
	
	border-radius: 20px;
	font-family : 'Questrial';
	font-size: 1em;
	padding: 5px;
	background-color: #000000;
	color: #ffffff;

}